.Rhistory
.RData
.Ruserdata
.Rproj.user/

data/
results/

*.fastq
*.fastq.gz
*.bam
*.sam

renv/library/
renv/staging/
renv/cache/

# Local reproducibility library; packages are restored separately on each computer.
/R_library/

# Local working documents and extended sensitivity analysis
/Documents/
/06_Integrated_decontam_filter_sampling_system_analysis.Rmd
/Integrated_sensitivity_output/
/02_Microbiome_analysis.Rmd
